table {
  width: 100%; /* Full width table */
  border-collapse: collapse; /* Remove table borders */

}

.table-container {
  background-color: #fff; /* Table container background color */
  max-height: 600px; /* Set the maximum height for the table container */
  overflow-y: auto; /* Enable vertical scrolling */
}